{% extends 'bootstrap/base.html' %}

{% block title %}SEPOMEX API{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<div class="jumbotron text-center" style="padding-bottom: 300px">
    <div class="container">
        <h1 class="display-4">Consulta SEPOMEX</h1>
        <p class="lead">SEPOMEX API</p>
        <hr class="my-4">
        <a class="btn btn-success btn-lg" style="margin: 5px" href="{{ url_for('https://documenter.getpostman.com/view/19353002/UVkpNazL') }}" role="button">API Docs</a>
        <a class="btn btn-success btn-lg" style="margin: 5px" href="{{ url_for('gen_api_key') }}" role="button">Get an API Key</a>

    </div>

</div>
{% endblock %}
